////
/// @group elements
////

// ============================================================================//
//                                Blockquotes                                 //
// ============================================================================//

@if $type != 'web' {
  .blockquote,
  blockquote {
    margin: var(--blockquote-margin-top) var(--blockquote-margin-right) var(--blockquote-margin-bottom) var(--blockquote-margin-left);
    font-family: var(--blockquote-font-family);
    font-size: var(--blockquote-font-size);
    font-style: var(--blockquote-font-style);
    font-weight: var(--blockquote-font-weight);
    padding: var(--blockquote-padding-top) var(--blockquote-padding-right) var(--blockquote-padding-bottom) var(--blockquote-padding-left);
    letter-spacing: var(--blockquote-letter-spacing);
    word-spacing: var(--blockquote-word-spacing);
    border-left: var(--blockquote-border-left-width) var(--blockquote-border-left-style);
    border-left-color: var(--blockquote-border-left-color);
    @if $type == 'prince' {
      line-height: var(--blockquote-line-height);
    }

    text-align: var(--blockquote-align);
  }
}

// Styling below should stay as is for web and mobi7, in theory

@if $type == 'epub' {
  @media amzn-mobi {
    blockquote,
    .blockquote {
      margin: 1em 5%;
      font-family: serif;
      font-size: 0.9em;
      font-style: normal;
      font-weight: normal;
    }

    p.bl_nonindent {
      margin-left: 5%;
      font-size: 0.9em;
      font-style: normal;
      font-weight: normal;
      text-indent: 0;
    }

    p.bl_indent {
      margin-left: 5%;
      font-style: normal;
      font-weight: normal;
      text-indent: 1.5em;
    }
  }
}

@if $type == 'web' {
  .blockquote,
  .front-matter blockquote,
  .part blockquote,
  .chapter blockquote,
  .back-matter blockquote,
  body#tinymce.wp-editor blockquote {
    margin: var(--blockquote-margin-top) var(--blockquote-margin-right) var(--blockquote-margin-bottom) var(--blockquote-margin-left);
    font-family: var(--blockquote-font-family);
    font-size: var(--blockquote-font-size);
    font-style: var(--blockquote-font-style);
    font-weight: var(--blockquote-font-weight);
    padding: var(--blockquote-padding-top) var(--blockquote-padding-right) var(--blockquote-padding-bottom) var(--blockquote-padding-left);
    letter-spacing: var(--blockquote-letter-spacing);
    word-spacing: var(--blockquote-word-spacing);
    border-left: var(--blockquote-border-left-width) var(--blockquote-border-left-style);
    border-left-color: var(--blockquote-border-left-color);
    line-height: var(--blockquote-line-height);
    text-align: var(--blockquote-align);
  }
}
