////
/// @group elements
////

// ============================================================================//
//                                   Body                                     //
// ============================================================================//

@import '../utilities';

@if $type != 'web' {
  body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@if $type == 'epub' {
  body * {
    line-height: inherit;
  }

  @media amzn-mobi {
    body {
      font-family: serif;
      font-size: medium;
      font-style: normal;
      font-weight: normal;
      line-height: 1.4em;
    }
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

