////
/// @group elements
////

// ============================================================================//
//                                   Links                                    //
// ============================================================================//

@import "../utilities";

@if $type != 'web' {
  a {
    text-decoration: var(--link-text-decoration);
  }
}

@if $type == 'prince' {
  .print a {
    text-decoration: var(--link-text-decoration-print);
  }
} @else {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    a {
      text-decoration: var(--link-text-decoration);
    }
  }
}
