////
/// @group elements
////

// ============================================================================//
//                               Miscellaneous                                //
// ============================================================================//
@import "../utilities";

@if $type != 'web' {
  // Cite
  cite {
    font-size: var(--cite-font-size);
    font-style: var(--cite-font-style);
    font-variant: var(--cite-font-variant);
    font-weight: var(--cite-font-weight);
    letter-spacing: var(--cite-letter-spacing);
    text-transform: var(--cite-text-transform);
    word-spacing: var(--cite-word-spacing);
  }

  // Code & Pre
  code {
    background: var(--code-background);
    border: var(--code-border);
    border-radius: var(--code-border-radius);
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    @if $type == 'prince' {
      line-height: var(--code-line-height);
    }

    margin: var(--code-margin-top) var(--code-margin-right) var(--code-margin-bottom) var(--code-margin-left);
    padding: var(--code-padding-top) var(--code-padding-right) var(--code-padding-bottom) var(--code-padding-left);
  }

  pre {
    background: var(--pre-background);
    border: var(--pre-border);
    border-radius: var(--pre-border-radius);
    font-family: var(--pre-font-family);
    font-size: var(--pre-font-size);
    @if $type == 'prince' {
      line-height: var(--pre-line-height);
    }

    margin: var(--pre-margin-top) var(--pre-margin-right) var(--pre-margin-bottom) var(--pre-margin-left);
    padding: var(--pre-padding-top) var(--pre-padding-right) var(--pre-padding-bottom) var(--pre-padding-left);
}

  // Superscript & Subscript
  sub {
    font-size: var(--sub-font-size);
    font-style: var(--sub-font-style);
    @if $type == 'prince' {
      line-height: var(--sub-line-height);
    }

    text-transform: var(--sub-text-transform);
  }

  sup {
    font-size: var(--sup-font-size);
    font-style: var(--sup-font-style);
    @if $type == 'prince' {
      line-height: var(--sup-line-height);
    }

    text-transform: var(--sup-text-transform);
  }
} @else {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    // Cite
    cite {
      font-size: var(--cite-font-size);
      font-style: var(--cite-font-style);
      font-variant: var(--cite-font-variant);
      font-weight: var(--cite-font-weight);
      letter-spacing: var(--cite-letter-spacing);
      text-transform: var(--cite-text-transform);
      word-spacing: var(--cite-word-spacing);
    }

    // Code & Pre
    code {
      background: var(--code-background);
      border: var(--code-border);
      border-radius: var(--code-border-radius);
      font-family: var(--code-font-family);
      font-size: var(--code-font-size);
      line-height: var(--code-line-height);
      margin: var(--code-margin-top) var(--code-margin-right) var(--code-margin-bottom) var(--code-margin-left);
      padding: var(--code-padding-top) var(--code-padding-right) var(--code-padding-bottom) var(--code-padding-left);
    }

    pre {
      background: var(--pre-background);
      border: var(--pre-border);
      border-radius: var(--pre-border-radius);
      font-family: var(--pre-font-family);
      font-size: var(--pre-font-size);
      line-height: var(--pre-line-height);
      margin: var(--pre-margin-top) var(--pre-margin-right) var(--pre-margin-bottom) var(--pre-margin-left);
      padding: var(--pre-padding-top) var(--pre-padding-right) var(--pre-padding-bottom) var(--pre-padding-left);
    }

    // Superscript & Subscript
    sub {
      font-size: var(--sub-font-size);
      font-style: var(--sub-font-style);
      line-height: var(--sub-line-height);
      text-transform: var(--sub-text-transform);
    }

    sup {
      font-size: var(--sup-font-size);
      font-style: var(--sup-font-style);
      line-height: var(--sup-line-height);
      text-transform: var(--sup-text-transform);
    }
  }
}
