////
/// @group elements
////

// ============================================================================//
//                                  Tables                                    //
// ============================================================================//

@import '../utilities';

@if $type == 'prince' {
  @page landscape_table {
    /* stylelint-disable-next-line property-no-unknown */
    prince-rotate-body: 270deg;
  }
}

@if $type != 'web' {
  table {
    display: table;
    max-width: 100%;
    margin-top: var(--table-margin-top);
    margin-bottom: var(--table-margin-bottom);
    @if $type != 'prince' {
      overflow-x: scroll;
    }

    font-family: var(--table-font-family);
    font-size: var(--table-font-size);
    hyphens: var(--table-hyphens);
    @if $type == 'prince' {
      line-height: var(--table-line-height);
    }

    text-align: var(--table-align);
    border-collapse: collapse;
    border-color: var(--line-color-1);
    border-top: var(--table-border-width) solid;
    border-right: var(--table-border-right-width) var(--table-border-right-style);
    border-bottom: var(--table-border-width) solid;
    border-left: var(--table-border-left-width) var(--table-border-left-style);

    p {
      text-align: var(--table-align);
    }

    caption {
      margin-bottom: var(--table-caption-margin-bottom);
      font-weight: var(--table-caption-font-weight);
      @if $type == 'prince' {
        line-height: var(--table-caption-line-height);
      }
    }

    &.lines {
      border-color: var(--line-color-1);
    }

    &.lines tr {
      border-top: var(--table-border-width) solid;
      border-bottom: var(--table-border-width) solid;
      border-color: var(--line-color-1);
    }

    &.lines th {
      border-color: var(--line-color-1);
    }

    &.lines td {
      border-color: var(--line-color-1);
    }

    &.no-lines tr,
    &.no-lines td {
      border-top: 0;
      border-bottom: 0;
    }

    &.shaded {
      background-color: var(--shade-color-1);
    }

    &.border {
      border: var(--table-border-width) solid;
      border-color: var(--line-color-1);
    }

    &.no-border,
    &.no-border tbody,
    &.no-border th,
    &.no-border tr,
    &.no-border td,
    &.no-border tfoot,
    &.no-border thead {
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
    }

    &.grid,
    &.grid tbody,
    &.grid th,
    &.grid tr,
    &.grid td,
    &.grid tfoot,
    &.grid thead {
      border: 1px solid;
      border-color: var(--line-color-1);
    }

    &.alignleft {
      float: left;
      margin-right: var(--table-alignleft-margin-right);
    }

    td img.alignleft {
      float: left;
    }

    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
    }

    td img.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.alignright {
      float: right;
      margin-left: var(--table-alignright-margin-left);
    }

    td img.alignright {
      float: right;
    }

    @if $type == 'prince' {
      &.landscape {
        page: landscape_table;
      }
    }
  }

  table,
  tr,
  th {
    page-break-inside: avoid;
  }

  th {
    padding: var(--table-th-padding-top) var(--table-th-padding-right) var(--table-th-padding-bottom) var(--table-th-padding-left);
    @if $type == 'prince' {
      line-height: var(--table-th-line-height);
    }

    text-align: var(--table-th-align);
    vertical-align: var(--table-th-vertical-align);
    border-color: var(--line-color-1);
    border-top: var(--table-th-border-top-width) var(--table-th-border-top-style);
    border-right: var(--table-th-border-right-width) var(--table-th-border-right-style);
    border-bottom: var(--table-th-border-bottom-width) var(--table-th-border-bottom-style);
    border-left: var(--table-th-border-left-width) var(--table-th-border-left-style);
  }

  td {
    border: var(--table-td-border-width) var(--table-td-border-style);
    border-color: var(--line-color-1);
    padding: var(--table-td-padding-top) var(--table-td-padding-right) var(--table-td-padding-bottom) var(--table-td-padding-left);
    @if $type == 'prince' {
      line-height: var(--table-td-line-height);
    }

    text-align: var(--table-td-align);
    vertical-align: var(--table-td-vertical-align);
  }

  tr {
    border-top: var(--table-tr-border-top-width) var(--table-tr-border-top-style);
    border-bottom: var(--table-tr-border-bottom-width) var(--table-tr-border-bottom-style);
    border-color: var(--line-color-1);
  }
} @else {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    table {
      display: table;
      max-width: 100%;
      margin-top: var(--table-margin-top);
      margin-bottom: var(--table-margin-bottom);
      overflow-x: scroll;
      font-family: var(--table-font-family);
      font-size: var(--table-font-size);
      hyphens: var(--table-hyphens);
      line-height: var(--table-line-height);
      text-align: var(--table-align);
      border-collapse: collapse;
      border-top: var(--table-border-width) solid;
      border-bottom: var(--table-border-width) solid;
      border-color: var(--line-color-1);

      p {
        text-align: var(--table-align);
      }

      caption {
        margin-bottom: var(--table-caption-margin-bottom);
        font-weight: var(--table-caption-font-weight);
        line-height: var(--table-caption-line-height);
      }

      &.lines {
        border-color: var(--line-color-1);
      }

      &.lines tr {
        border-top: var(--table-border-width) solid;
        border-bottom: var(--table-border-width) solid;
        border-color: var(--line-color-1);
      }

      &.lines th {
        border-color: var(--line-color-1);
      }

      &.lines td {
        border-color: var(--line-color-1);
      }

      &.no-lines tr,
      &.no-lines td {
        border-top: 0;
        border-bottom: 0;
      }

      &.shaded {
        background-color: var(--shade-color-1);
      }

      &.border {
        border: var(--table-border-width) solid;
        border-color: var(--line-color-1);
      }

      &.no-border,
      &.no-border tbody,
      &.no-border th,
      &.no-border tr,
      &.no-border td,
      &.no-border tfoot,
      &.no-border thead {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
      }

      &.grid,
      &.grid tbody,
      &.grid th,
      &.grid tr,
      &.grid td,
      &.grid tfoot,
      &.grid thead {
        border: 1px solid;
        border-color: var(--line-color-1);
      }

      &.alignleft {
        float: left;
        margin-right: var(--table-alignleft-margin-right);
      }

      td img.alignleft {
        float: left;
      }

      &.aligncenter {
        margin-left: auto;
        margin-right: auto;
      }

      td img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      &.alignright {
        float: right;
        margin-left: var(--table-alignright-margin-left);
      }

      td img.alignright {
        float: right;
      }

      th,td {
        p {
          font-size: inherit;
          line-height: inherit;
        }
      }
    }

    table,
    tr,
    th {
      page-break-inside: avoid;
    }

    th {
      padding: var(--table-th-padding-top) var(--table-th-padding-right) var(--table-th-padding-bottom) var(--table-th-padding-left);
      line-height: var(--table-th-line-height);
      text-align: var(--table-th-align);
      vertical-align: middle;
      border-color: var(--line-color-1);
      border-top: var(--table-th-border-top-width) var(--table-th-border-top-style);
      border-bottom: var(--table-th-border-bottom-width) var(--table-th-border-bottom-style);
    }

    td {
      padding: var(--table-td-padding-top) var(--table-td-padding-right) var(--table-td-padding-bottom) var(--table-td-padding-left);
      line-height: var(--table-td-line-height);
      text-align: var(--table-td-align);
      vertical-align: middle;
      border: var(--table-td-border-width) var(--table-td-border-style);
      border-color: var(--line-color-1);
    }

    tr {
      border-color: var(--line-color-1);
      border-top: var(--table-tr-border-top-width) var(--table-tr-border-top-style);
      border-bottom: var(--table-tr-border-bottom-width) var(--table-tr-border-bottom-style);
    }
  }
}
