////
/// @group toc
////

@import 'generic';

@if $type != 'web' {
  #toc {
    li {
      text-align: center;
      margin-left: var(--toc-center-left-gutter);
      margin-right: var(--toc-center-right-gutter);
    }

    .toc-chapter-title {
      display: var(--toc-center-chapter-title-display);
      width: var(--toc-center-title-width);
    }

    .chapter-subtitle {
      display: var(--toc-center-subtitle-display);
      width: var(--toc-center-title-width);
    }

    .chapter-author {
      display: var(--toc-center-author-display);
      width: var(--toc-center-title-width);
    }

    .toc-subsection-title {
      display: var(--toc-center-subsection-display);
      width: var(--toc-center-subsection-width);
    }
  }
}

@if $type == 'prince' {
  #toc {
    a::after {
      display: var(--toc-center-page-number-display);
    }

    .part a::before {
      content: var(--toc-part-number-before-content) var(--toc-part-number-content) var(--toc-center-part-number-after-content);
      display: var(--toc-center-part-number-display);
    }

    .chapter a::before {
      content: var(--toc-chapter-number-before-content) counter(chapter) var(--toc-center-chapter-number-after-content);
      display: var(--toc-center-chapter-number-display);
    }
  }
}