@import '../utilities';

@if $type != 'web' {
  #toc {
    ul {
      @if $type != 'epub' {
        line-height: var(--toc-base-line-height);
      }

      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    a {
      border: 0;
    }

    .toc-chapter-title {
      page-break-after: avoid;
      position: relative;
      text-indent: 0;
    }

    .chapter-subtitle, .chapter-author {
      hyphens: none;
      text-indent: 0;
      color: inherit;
    }

    .chapter-license {
      display: block;
    }

    .front-matter {
      @if $type == 'epub' {
        color: var(--toc-front-matter-title-color);
      }

      font-family: var(--toc-front-matter-title-font-family);
      font-size: var(--toc-front-matter-title-font-size);
      font-style: var(--toc-front-matter-title-font-style);
      font-weight: var(--toc-front-matter-title-font-weight);
      hyphens: none;
      @if $type != 'epub' {
        line-height: var(--toc-front-matter-line-height);
      }

      text-transform: var(--toc-front-matter-title-text-transform);
    }

    .front-matter .chapter-subtitle {
      @if $type == 'epub' {
        color: var(--toc-front-matter-subtitle-color);
      }

      font-family: var(--toc-front-matter-subtitle-font-family);
      font-size: var(--toc-front-matter-subtitle-font-size);
      font-style: var(--toc-front-matter-subtitle-font-style);
      font-weight: var(--toc-front-matter-subtitle-font-weight);
      text-transform: var(--toc-front-matter-subtitle-text-transform);
    }

    .front-matter .chapter-author {
      @if $type == 'epub' {
        color: var(--toc-front-matter-author-color);
      }

      font-family: var(--toc-front-matter-author-font-family);
      font-size: var(--toc-front-matter-author-font-size);
      font-style: var(--toc-front-matter-author-font-style);
      font-weight: var(--toc-front-matter-author-font-weight);
      text-transform: var(--toc-front-matter-author-text-transform);
    }

    .part {
      @if $type == 'epub' {
        color: var(--toc-part-title-color);
      }

      font-family: var(--toc-part-title-font-family);
      font-size: var(--toc-part-title-font-size);
      font-style: var(--toc-part-title-font-style);
      font-weight: var(--toc-part-title-font-weight);
      hyphens: none;
      @if $type != 'epub' {
        line-height: var(--toc-part-line-height);
      }

      margin-top: var(--toc-part-margin-top);
      text-transform: var(--toc-part-title-text-transform);
    }

    // epub uses .display-none in the TOC for parts, not .invisble
    // kindlegen throws a limit: 10000 character error on lengthy two-level TOC
    @if $type != 'epub' {
      .part.invisible {
        display: none;
      }
    }

    .chapter {
      @if $type == 'epub' {
        color: var(--toc-chapter-title-color);
      }

      font-family: var(--toc-chapter-title-font-family);
      font-size: var(--toc-chapter-title-font-size);
      font-style: var(--toc-chapter-title-font-style);
      font-weight: var(--toc-chapter-title-font-weight);
      @if $type != 'epub' {
        line-height: var(--toc-chapter-line-height);
      }

      text-transform: var(--toc-chapter-title-text-transform);
    }

    .chapter .chapter-subtitle {
      @if $type == 'epub' {
        color: var(--toc-chapter-subtitle-color);
      }

      font-family: var(--toc-chapter-subtitle-font-family);
      font-size: var(--toc-chapter-subtitle-font-size);
      font-style: var(--toc-chapter-subtitle-font-style);
      font-weight: var(--toc-chapter-subtitle-font-weight);
      text-transform: var(--toc-chapter-subtitle-text-transform);
      margin-top: var(--toc-chapter-subtitle-margin-top);
    }

    .chapter .chapter-author {
      @if $type == 'epub' {
        color: var(--toc-chapter-author-color);
      }

      font-family: var(--toc-chapter-author-font-family);
      font-size: var(--toc-chapter-author-font-size);
      font-style: var(--toc-chapter-author-font-style);
      font-weight: var(--toc-chapter-author-font-weight);
      text-transform: var(--toc-chapter-author-text-transform);
      margin-top: var(--toc-chapter-author-margin-top);
    }

    .back-matter {
      @if $type == 'epub' {
        color: var(--toc-back-matter-title-color);
      }

      font-family: var(--toc-back-matter-title-font-family);
      font-size: var(--toc-back-matter-title-font-size);
      font-style: var(--toc-back-matter-title-font-style);
      font-weight: var(--toc-back-matter-title-font-weight);
      hyphens: none;
      @if $type != 'epub' {
        line-height: var(--toc-front-matter-line-height);
      }

      text-transform: var(--toc-back-matter-title-text-transform);
    }

    .back-matter .chapter-subtitle {
      @if $type == 'epub' {
        color: var(--toc-back-matter-subtitle-color);
      }

      font-family: var(--toc-back-matter-subtitle-font-family);
      font-size: var(--toc-back-matter-subtitle-font-size);
      font-style: var(--toc-back-matter-subtitle-font-style);
      font-weight: var(--toc-back-matter-subtitle-font-weight);
      text-transform: var(--toc-back-matter-subtitle-text-transform);
    }

    .back-matter .chapter-author {
      @if $type == 'epub' {
        color: var(--toc-back-matter-author-color);
      }

      font-family: var(--toc-back-matter-author-font-family);
      font-size: var(--toc-back-matter-author-font-size);
      font-style: var(--toc-back-matter-author-font-style);
      font-weight: var(--toc-back-matter-author-font-weight);
      text-transform: var(--toc-back-matter-author-text-transform);
    }

    .front-matter + .front-matter {
      margin-top: var(--toc-front-matter-margin-top);
    }

    .chapter + .chapter {
      margin-top: var(--toc-chapter-margin-top);
    }

    .back-matter + .back-matter {
      margin-top: var(--toc-back-matter-margin-top);
    }

    .front-matter + .chapter,
    .chapter + .back-matter,
    .part + .chapter,
    .part + .back-matter {
      margin-top: var(--toc-block-margin-top);
    }

    .sections {
      margin-top: var(--toc-section-margin-top);
    }

    .section {
      font-size: var(--toc-section-title-font-size);
      font-style: var(--toc-section-title-font-style);
      font-weight: var(--toc-section-title-font-weight);
      @if $type != 'epub' {
        line-height: var(--toc-front-matter-line-height);
      }

      margin-top: var(--toc-section-margin-top);
    }
  }
}

@if $type == 'prince' {
  #toc {
    display: var(--toc-display);
    counter-reset: part;
    page-break-before: right;

    h1 {
      prince-bookmark-level: 1;
    }

    a::after {
      content: var(--toc-page-number-before-content) target-counter(attr(href), page);
      font-family: var(--toc-page-number-font-family);
      font-size: var(--toc-page-number-font-size);
      font-style: var(--toc-page-number-font-style);
      font-weight: var(--toc-page-number-font-weight);
      text-transform: var(--toc-page-number-text-transform);
      text-decoration: var(--toc-page-number-text-decoration);
      hyphens: none;
    }

    ul {
      counter-reset: chapter;
    }

    li {
      page-break-inside: avoid;
      position: relative;
    }

    .front-matter a::after {
      content: var(--toc-page-number-before-content) target-counter(attr(href), page, lower-roman);
      font-family: var(--toc-page-number-font-family);
      font-size: var(--toc-front-matter-page-number-font-size);
      font-style: var(--toc-front-matter-page-number-font-style);
      font-weight: var(--toc-front-matter-page-number-font-weight);
      text-transform: var(--toc-front-matter-page-number-text-transform);
      hyphens: none;
    }

    .front-matter.introduction a::after,
    .front-matter.post-introduction a::after {
      content: var(--toc-page-number-before-content) target-counter(attr(href), page);
    }

    .chapter a::before {
      content: var(--toc-page-number-before-content) target-counter(attr(href), page);
      font-family: var(--toc-chapter-number-font-family);
      font-size: var(--toc-chapter-number-font-size);
      font-style: var(--toc-chapter-number-font-style);
      font-weight: var(--toc-chapter-number-font-weight);
      text-transform: var(--toc-chapter-number-text-transform);
      hyphens: none;
      counter-increment: chapter;
      page-break-after: avoid;
    }

    .part {
      page-break-after: avoid;
    }

    .part a::before {
      counter-increment: part;
      font-family: var(--toc-part-number-font-family);
      font-size: var(--toc-part-number-font-size);
      font-style: var(--toc-part-number-font-style);
      font-weight: var(--toc-part-number-font-weight);
      hyphens: none;
      page-break-after: avoid;
      text-transform: var(--toc-part-number-text-transform);
    }

    .part a::after {
      content: '';
    }

    .chapter.numberless a::before {
      content: '';
      counter-increment: none;
      display: none;
    }

    .front-matter .section a::before,
    .part .section a::before,
    .chapter .section a::before,
    .back-matter .section a::before {
      content: '';
      counter-increment: none;
      display: none;
    }
  }

  .print #toc {
    a::after {
      color: var(--toc-page-number-color);
    }

    .front-matter {
      color: var(--toc-front-matter-title-color);
    }

    .front-matter a::after {
      color: var(--toc-front-matter-page-number-color);
    }

    .front-matter .chapter-subtitle {
      color: var(--toc-front-matter-subtitle-color);
    }

    .front-matter .chapter-author {
      color: var(--toc-front-matter-author-color);
    }

    .part a {
      color: var(--toc-part-title-color);
    }

    .part a::before {
      color: var(--toc-part-number-color);
    }

    .chapter {
      color: var(--toc-chapter-title-color);
    }

    .chapter a::before {
      color: var(--toc-chapter-number-color);
    }

    .chapter .chapter-subtitle {
      color: var(--toc-chapter-subtitle-color);
    }

    .chapter .chapter-author {
      color: var(--toc-chapter-author-color);
    }

    .back-matter {
      color: var(--toc-back-matter-title-color);

    }

    .back-matter .chapter-subtitle {
      color: var(--toc-back-matter-subtitle-color);

    }

    .back-matter .chapter-author {
      color: var(--toc-back-matter-author-color);
    }
  }
}

@if $type == 'epub' {

  @media amzn-kf8 {
    #toc .toc-chapter-title {
      /* CSS property in content is not supported. Table of contents cannot be clicked. */
      position: static;
    }
  }

  @media amzn-mobi {
    #toc {
      font-style: normal;
      font-weight: normal;
      border: 0;
      text-align: left;
    }

    #toc h1 {
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
    }

    #toc .toc-chapter-title {
      /* CSS property in content is not supported. Table of contents cannot be clicked. */
      position: static;
    }

    span.chapter-author {
      display: none;
    }

    span.chapter-subtitle {
      display: none;
    }

    span.toc-chapter-title {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      text-align: left;
    }

    li.front-matter {
      font-style: normal;
      font-weight: normal;
      font-size: 0.9em;
    }

    li.part {
      font-weight: bold;
      font-size: 1.25em;
      text-align: left;
      margin-top: 1em;
    }

    li.chapter {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
    }

    li.back-matter {
      font-weight: bold;
      font-size: 0.9em;
      text-align: left;
      margin-top: 1em;
    }

    #toc a {
      font-style: normal;
      font-weight: normal;
    }

    #toc ul .front-matter,
    #toc ul .back-matter {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
    }

    #toc .front-matter {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
    }

    #toc .back-matter {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
    }

    #toc .part {
      font-weight: bold;
      margin-top: 1em;
    }

    #toc li {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
    }
  }
}
