////
/// @group toc
////

@import 'generic';

@if $type != 'web' {
  #toc {
    li {
      text-align: left;
    }

    .toc-chapter-title {
      display: var(--toc-left-chapter-title-display);
      width: var(--toc-left-title-width);
    }

    .chapter-subtitle {
      display: var(--toc-left-subtitle-display);
      width: var(--toc-left-subtitle-width);
    }

    .chapter-author {
      display: var(--toc-left-author-display);
      width: var(--toc-left-author-width);
    }

    .toc-subsection-title {
      display: var(--toc-left-subsection-display);
      width: var(--toc-left-subsection-width);
    }

    .chapter .chapter-subtitle,
    .chapter .chapter-author,
    .chapter .sections,
    .chapter .chapter-license {
      margin-left: var(--toc-left-left-gutter);
    }
  }
}

@if $type == 'epub' {
  #toc {
    .chapter-subtitle,
    .chapter-author,
    .chapter-license,
    .sections {
      margin-left: var(--toc-left-left-gutter);
    }
  }
}

@if $type == 'prince' {
  #toc {
    a::after {
      display: var(--toc-left-page-number-display);
      position: absolute;
      right: 0;
      text-align: var(--toc-left-page-number-align);
      top: 0;
      width: var(--toc-left-right-gutter);
    }

    .front-matter,
    .part,
    .back-matter,
    .chapter.numberless {
      margin-left: var(--toc-left-left-gutter);
    }

    .part {
      margin-right: var(--toc-left-right-gutter);
    }

    .part a::before {
      content: var(--toc-part-number-before-content) var(--toc-part-number-content) var(--toc-left-part-number-after-content);
      display: var(--toc-left-part-number-display);
      text-align: var(--toc-left-part-number-align);
    }

    .chapter a::before {
      content: var(--toc-chapter-number-before-content) var(--toc-chapter-number-content) var(--toc-left-chapter-number-after-content);
      display: var(--toc-left-chapter-number-display);
      float: var(--toc-left-chapter-number-float); // TODO
      text-align: var(--toc-left-chapter-number-align); // $toc-chapter-number-align;
      width: var(--toc-left-left-gutter);
      overflow-wrap: normal;
    }
  }
}
