////
/// @group media
////

@if $type != 'web' {
  figure,
  .wp-caption,
  .wp-nocaption {
    height: auto;
    margin-bottom: if-map-get($image-wrapper-margin-bottom, $type);
    margin-top: if-map-get($image-wrapper-margin-top, $type);
    page-break-inside: avoid;
    max-width: 100%;
    width: auto;

    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &.alignleft {
      float: left;
      width: 50%;
      margin: if-map-get($floated-image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
      padding-left: 0;
    }

    &.alignnone {
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

    &.alignright {
      float: right;
      width: 50%;
      margin: if-map-get($floated-image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
      padding-right: 0;
    }
  }

  figcaption,
  .wp-caption-text {
    font-family: $image-caption-font-family;
    font-size: if-map-get($image-caption-font-size, $type);
    font-style: $image-caption-font-style;
    font-weight: $image-caption-font-weight;
    hyphens: none;
    line-height: if-map-get($image-caption-line-height, $type);
    padding-bottom: if-map-get($image-caption-padding-bottom, $type);
    text-align: $image-caption-text-align;
    text-transform: $image-caption-text-transform;
  }

  img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    page-break-inside: avoid;
  }

  .wp-caption.alignnone {
    img {
      max-width: if-map-get($image-alignnone-image-maxwidth, $type);
    }

    figcaption,
    .wp-caption-text {
      box-sizing: border-box;
      float: $image-alignnone-caption-float;
      padding-left: if-map-get($image-alignnone-caption-left-padding, $type);
      width: if-map-get($image-alignnone-caption-width, $type);
    }
  }
}

@if $type == 'prince' {
  img {
    prince-image-resolution: $prince-image-resolution;
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    figure,
    .wp-caption,
    .wp-nocaption {
      height: auto;
      margin-bottom: if-map-get($image-wrapper-margin-bottom, $type);
      margin-top: if-map-get($image-wrapper-margin-top, $type);
      page-break-inside: avoid;
      max-width: 100%;

      &.aligncenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      &.alignleft {
        float: left;
        width: 50%;
        margin: if-map-get($floated-image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
        padding-left: 0;
      }

      &.alignnone {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        width: 100%;
      }

      &.alignright {
        float: right;
        width: 50%;
        margin: if-map-get($floated-image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
        padding-right: 0;
      }
    }

    figcaption,
    .wp-caption-text {
      font-family: $image-caption-font-family;
      font-size: if-map-get($image-caption-font-size, $type);
      font-style: $image-caption-font-style;
      font-weight: $image-caption-font-weight;
      hyphens: none;
      line-height: if-map-get($image-caption-line-height, $type);
      padding-bottom: if-map-get($image-caption-padding-bottom, $type);
      text-align: $image-caption-text-align;
      text-transform: $image-caption-text-transform;
    }

    img {
      display: inline-block;
      height: auto;
      margin: 0;
      max-width: 100%;
      padding: 0;
      page-break-inside: avoid;
      width: auto;
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .wp-caption {
      text-align: center;
    }

    .wp-nocaption {
      text-align: center;
    }

    p.wp-caption-text {
      font-size: 0.8em !important;
      font-style: italic !important;
      margin-bottom: 1em !important;
      text-align: center !important;
    }
  }

  @media amzn-kf8 {
    div.wp-caption,
    div.wp-nocaption {
      height: auto !important;
      width: auto !important;
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: center !important;
      page-break-inside: avoid !important;
    }

    div.wp-caption img,
    div.wp-nocaption img {
      width: auto;
      page-break-inside: avoid !important;
    }
  }
}
