////
/// @group media
////

@mixin caption-text-align($align) {
  figcaption,
  .wp-caption-text {
    text-align: var(--image-caption-text-align-#{$align});
  }
}

p {
  img {
    &.aligncenter {
      margin: var(--image-wrapper-margin-top) auto var(--image-wrapper-margin-bottom);
      text-align: center;
      display: block;

      @include caption-text-align(center);
    }

    &.alignleft {
      float: left;
      margin: var(--image-wrapper-margin-top) var(--image-alignleft-margin-right) var(--floated-image-wrapper-margin-bottom) 0;
      padding-right: 0;

      @include caption-text-align(left);
    }

    &.alignright {
      float: right;
      margin: var(--image-wrapper-margin-top) 0 var(--floated-image-wrapper-margin-bottom) var(--image-alignright-margin-left);
      padding-left: 0;

      @include caption-text-align(right);
    }

    @if $type != 'web' {
      &.alignleft, &.alignright {
        max-width: 50%;
      }
    }
  }
}

@if $type == 'epub' {
  figcaption,
  .wp-caption-text {
    font-family: var(--image-caption-font-family);
    font-size: var(--image-caption-font-size);
    font-style: var(--image-caption-font-style);
    font-weight: var(--image-caption-font-weight);
    hyphens: none;
    padding-bottom: var(--image-caption-padding-bottom);
    margin-top: var(--image-caption-margin-top);
    text-align: var(--image-caption-text-align);
    text-transform: var(--image-caption-text-transform);
    text-indent: var(--image-caption-text-indent);
    color: var(--image-caption-text-color);
  }

  img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    page-break-inside: avoid !important;
  }

  img.mathjax {
    vertical-align: middle;
    border: none;
    background: none;
  }

  .wp-caption,
  .wp-nocaption {
    height: auto;
    max-width: 100%;
    page-break-inside: avoid !important;

    &.alignnone {
      margin: var(--image-wrapper-margin-top) 0 var(--image-wrapper-margin-bottom);
      text-align: left;
      width: auto;

      @include caption-text-align(left);
    }

    &.aligncenter {
      margin: var(--image-wrapper-margin-top) auto var(--image-wrapper-margin-bottom);
      text-align: center;
      width: auto;

      @include caption-text-align(center);

      img {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    &.alignright {
      float: right;
      margin: var(--image-wrapper-margin-top) 0 var(--floated-image-wrapper-margin-bottom) var(--image-alignright-margin-left);
      max-width: 50%;
      padding-left: 0;
      width: 50% !important;

      @include caption-text-align(right);

      img {
        width: 100%
      }
    }

    &.alignleft {
      float: left;
      margin: var(--image-wrapper-margin-top) var(--image-alignleft-margin-right) var(--floated-image-wrapper-margin-bottom) 0;
      max-width: 50%;
      padding-right: 0;
      width: 50% !important;

      @include caption-text-align(left);

      img {
        width: 100%
      }
    }
  }

  .wp-caption.alignnone {
    img {
      float: none;
      margin-right: 0;
      max-width: 100% !important;
    }

    figcaption,
    .wp-caption-text {
      box-sizing: border-box;
      float: none;
      padding-left: 0;
      width: 100% !important;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
} @else if $type == 'prince' {
  figcaption,
  .wp-caption-text {
    font-family: var(--image-caption-font-family);
    font-size: var(--image-caption-font-size);
    font-style: var(--image-caption-font-style);
    font-weight: var(--image-caption-font-weight);
    hyphens: none;
    line-height: var(--image-caption-line-height);
    margin-top: var(--image-caption-margin-top);
    padding-bottom: var(--image-caption-padding-bottom);
    text-align: var(--image-caption-text-align);
    text-transform: var(--image-caption-text-transform);
    text-indent: var(--image-caption-text-indent);
    color: var(--image-caption-text-color);
  }

  img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    page-break-inside: avoid !important;
    prince-image-resolution: var(--prince-image-resolution);
  }

  img.mathjax {
    vertical-align: middle;
    border: none;
    background: none;
  }

  .wp-caption,
  .wp-nocaption {
    height: auto;
    max-width: 100%;
    page-break-inside: avoid;
    text-align: center;

    &.alignnone {
      padding-left: 0;
      margin: var(--image-wrapper-margin-top) 0 var(--image-wrapper-margin-bottom);
      text-align: left;
      width: var(--image-alignnone-wrapper-width) !important;

      @include caption-text-align(left);
    }

    &.aligncenter {
      margin: var(--image-wrapper-margin-top) auto var(--image-wrapper-margin-bottom);
      text-align: center;

      @include caption-text-align(center);

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &.alignleft {
      float: left;
      margin: var(--image-wrapper-margin-top) var(--image-alignleft-margin-right) var(--floated-image-wrapper-margin-bottom) 0;
      max-width: 50%;

      @include caption-text-align(left);
    }

    &.alignright {
      float: right;
      margin: var(--image-wrapper-margin-top) 0 var(--floated-image-wrapper-margin-bottom) var(--image-alignright-margin-left);
      max-width: 50%;
      padding-right: 0;

      @include caption-text-align(right);
    }
  }

  .wp-caption.alignnone {
    img {
      float: var(--image-alignnone-image-float);
      margin-right: 0;
      max-width: var(--image-alignnone-image-maxwidth) !important;
    }

    figcaption,
    .wp-caption-text {
      box-sizing: border-box;
      float: var(--image-alignnone-caption-float);
      padding-left: var(--image-alignnone-caption-left-padding);
      width: var(--image-alignnone-caption-width) !important;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
  }
} @else if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    .wp-caption figcaption,
    .wp-caption .wp-caption-text {
      font-family: var(--image-caption-font-family);
      font-size: var(--image-caption-font-size);
      font-style: var(--image-caption-font-style);
      font-weight: var(--image-caption-font-weight);
      hyphens: none;
      line-height: var(--image-caption-line-height);
      padding-bottom: var(--image-caption-padding-bottom);
      margin-top: var(--image-caption-margin-top);
      text-align: var(--image-caption-text-align);
      text-transform: var(--image-caption-text-transform);
      text-indent: var(--image-caption-text-indent);
      color: var(--image-caption-text-color);
    }

    img {
      display: inline-block;
      height: auto;
      margin: 0;
      max-width: 100%;
      padding: 0;
      page-break-inside: avoid !important;
    }

    img.mathjax {
      vertical-align: middle;
      border: none;
      background: none;
    }

    .wp-caption,
    .wp-nocaption {
      height: auto;
      max-width: 100%;
      page-break-inside: avoid;
      text-align: center;

      &.alignnone {
        padding-left: 0;
        margin: var(--image-wrapper-margin-top) 0 var(--image-wrapper-margin-bottom);
        text-align: left;
        width: var(--image-alignnone-wrapper-width) !important;

        @include caption-text-align(left);
      }

      &.aligncenter {
        margin: var(--image-wrapper-margin-top) auto var(--image-wrapper-margin-bottom);
        text-align: center;

        @include caption-text-align(center);

        img {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &.alignleft {
        float: left;
        margin: var(--image-wrapper-margin-top) var(--image-alignleft-margin-right) var(--floated-image-wrapper-margin-bottom) 0;
        max-width: 50%;

        @include caption-text-align(left);
      }

      &.alignright {
        float: right;
        margin: var(--image-wrapper-margin-top) 0 var(--floated-image-wrapper-margin-bottom) var(--image-alignright-margin-left);
        max-width: 50%;
        padding-right: 0;

        @include caption-text-align(right);
      }
    }
  }
}
