////
/// @group media
////

@import '../utilities';

.interactive-content {

  @if $type != 'epub' {
    line-height: var(--interactive-content-line-height);
  }

  margin-bottom: var(--interactive-content-margin-bottom);
  padding: var(--interactive-content-padding-top) var(--interactive-content-padding-right) var(--interactive-content-padding-bottom) var(--interactive-content-padding-left);

  &__icon {
    display: var(--interactive-icon-display);
    float: var(--interactive-icon-float);
    width: var(--interactive-icon-width);
    height: var(--interactive-icon-height);
    margin:
      var(--interactive-icon-margin-top)
      var(--interactive-icon-margin-right)
      var(--interactive-icon-margin-bottom)
      var(--interactive-icon-margin-left);
    background-image: url('#{var(--interactive-icon-url)}');
    background-repeat: no-repeat;
    background-size: var(--interactive-icon-background-size);
  }

  img {
    display: block;
    margin-bottom: var(--interactive-thumbnail-margin-bottom);
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: var(--interactive-content-font-size);
    font-style: var(--interactive-content-font-style);
    font-family: var(--interactive-content-font-family);
    font-weight: var(--interactive-content-font-weight);
    margin-bottom: 0;
    text-indent: var(--interactive-content-text-indent);
    text-align: var(--interactive-content-text-align);
  }
}

.embed div.figcaption {
  text-align: var(--media-caption-align);
}

@if $type == 'web' {
  iframe {
    display: block;
    margin: 0 auto var(--interactive-content-margin-bottom);
  }

  .embed figcaption {
    text-align: var(--media-caption-align);
  }
}
