////
/// @group pages
////

@import '../utilities';

// Before Title

.before-title .front-matter-title-wrap {
  margin-top: var(--before-title-title-block-margin-top);
  margin-bottom: var(--before-title-title-block-margin-bottom);
}

// Copyright Page

#copyright-page {
  margin-top: var(--copyright-margin-top);
  margin-right: var(--copyright-margin-right);
  margin-left: var(--copyright-margin-left);

  .ugc {
    float: var(--copyright-float);

    p {
      margin-bottom: var(--copyright-margin-bottom);
      font-family: var(--copyright-font-family);
      font-size: var(--copyright-font-size);
      font-style: var(--copyright-font-style);
      font-weight: var(--copyright-font-weight);
      hyphens: var(--copyright-hyphens);
      line-height: var(--copyright-line-height);
      text-align: var(--copyright-align);
      text-indent: var(--copyright-indent);
    }
  }
}

// Dedication

div.dedication,
section.dedication {
  margin-top: var(--dedication-margin-top);
  margin-right: var(--dedication-margin-right);
  margin-left: var(--dedication-margin-left);

  p {
    margin-bottom: var(--dedication-margin-bottom);
    font-family: var(--dedication-font-family);
    font-size: var(--dedication-font-size);
    font-style: var(--dedication-font-style);
    font-weight: var(--dedication-font-weight);
    line-height: var(--dedication-line-height);
    text-align: var(--dedication-align);
  }
}

// Epigraph

div.epigraph,
section.epigraph
 {
  margin-top: var(--epigraph-margin-top);
  margin-right: var(--epigraph-margin-right);
  margin-left: var(--epigraph-margin-left);

  p {
    margin-bottom: var(--epigraph-margin-bottom);
    font-family: var(--epigraph-font-family);
    font-size: var(--epigraph-font-size);
    font-style: var(--epigraph-font-style);
    font-weight: var(--epigraph-font-weight);
    line-height: var(--epigraph-line-height);
    text-align: var(--epigraph-align);
  }
}

// License
.front-matter .license-attribution,
#copyright-page .license-attribution {
  p {
    text-align: var(--section-license-align);
    @if $type != 'epub' {
      line-height: var(--section-license-line-height);
    }

    font-size: var(--section-license-font-size);
    font-style: var(--section-license-font-style);
    margin-top: var(--section-license-margin-top);
    margin-bottom: var(--section-license-margin-bottom);
    page-break-inside: avoid;
    text-indent: 0;
  }

  img {
    background: transparent;
    height: 2em;
    width: auto;
  }
}

#copyright-page p + p {
  margin-top: 1em;
  text-indent: 0;
}

@if $type == 'prince' {
  .front-matter.with-subsections .front-matter-ugc h1 {
    prince-bookmark-level: 2;
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    #copyright-page {
      margin: 10%;
      font-family: normal;
      font-style: normal;
      text-indent: 0;
    }

    #copyright-page p {
      margin-bottom: 0.5em;
      font-family: normal;
      font-size: 0.875em;
      font-style: normal;
      text-indent: 0;
    }
  }
}
