////
/// @group structure
////

// ========================
// Page Structure Basics
// ========================

// Size & Cropmarks

@page {
  marks: var(--page-cropmarks);
  size: var(--page-width) var(--page-height);
}

// Margins

@page:left {
  margin: var(--page-margin-top) var(--page-margin-inside) var(--page-margin-bottom) var(--page-margin-outside);
}

@page:right {
  margin: var(--page-margin-top) var(--page-margin-outside) var(--page-margin-bottom) var(--page-margin-inside);
}
