////
/// @group specials
////

// ============================================================================//
//                           Contributors                                     //
// ============================================================================//

.contributors {
  .chapter-authors, .book-contributors {
    margin-top: var(--contributors-margin-top);
    font-family: var(--body-font-family);
  }

  .about-authors {
    margin-top: var(--contributors-margin-top);
    margin-bottom: var(--contributors-margin-bottom);
    text-align: var(--contributors-text-align);
  }

  .contributor {
    margin-top: var(--contributors-margin-top);

    &__type {
      margin-top: var(--contributors-margin-top);
      margin-bottom: var(--contributors-margin-bottom);
    }

    // TODO: replace clearfix hack with better CSS Grid solution when Prince supports grid layout
    &__name__and__links::after {
      content: "";
      display: table;
      clear: both;
    }

    &__profile__picture {
      float: var(--contributor-profile-picture-float);
      margin: var(--contributor-profile-picture-margin);
      width: 33%;
      max-width: 400px;
      border-radius: var(--contributor-profile-picture-border-radius);
    }

    &__name__and__links > div {
      float: var(--contributor-profile-picture-float);

      &.contributor__info__small {
        width: 67%;
        padding-left: 1.5rem;
        box-sizing: border-box;
      }

      &.contributor__info__large {
        width: 100%;
      }
    }

    &__name {
      font-family: var(--h1-font-family);
      font-size: var(--h3-font-size);
      text-indent: var(--contributors-text-indent);
      margin: 0;
    }

    &__institution {
      font-family: var(--h1-font-family);
      text-transform: var(--contributor-institution-text-transform);
      text-indent: var(--contributors-text-indent);
      margin: var(--contributor-link-margin-top);
    }

    &__website {
      margin-top: var(--contributor-link-margin-top);
      text-indent: var(--contributors-text-indent);
    }

    &__links {
      margin-top: var(--contributor-links-margin-top);
      display: inline-block;

      a {
        text-decoration: var(--contributor-links-text-decoration);
      }

      svg {
        width: 45px;
        height: 45px;
      }
    }

    &__link {
      margin-top: var(--contributor-link-margin-top);
      text-indent: var(--contributors-text-indent);
    }

    &__bio {
      margin-top: var(--contributor-bio-margin-top);
    }
  }
}
