////
/// @group specials
////

// ============================================================================//
//                                   Dropcaps                                 //
// ============================================================================//

.first-character,
.firstcharacter // Deprecated; only included for backwards-compatibility.
{
  font-family: var(--first-character-font-family);
  font-size: var(--first-character-font-size);
  font-style: var(--first-character-font-style);
  font-weight: var(--first-character-font-weight);
  line-height: var(--first-character-line-height);
}
