////
/// @group specials
////

// ============================================================================//
//                            Footnotes & Endnotes                            //
// ============================================================================//

@import '../utilities';

// Prince footnotes
@mixin prince-footnotes {
  // Reset counter at the beginning of a new section
  .front-matter,
  .part,
  .chapter,
  .introduction,
  .back-matter,
  .front-matter-title-wrap,
  .chapter-title-wrap,
  .back-matter-title-wrap {
    counter-reset: footnote;
  }

  .footnote {
    display: prince-footnote;
    padding-left: var(--footnote-padding-left);
    margin-left: 0;
    font-family: var(--footnote-font-family);
    font-size: var(--footnote-font-size);
    font-weight: var(--footnote-font-weight);
    font-style: var(--footnote-font-style);
    letter-spacing: var(--footnote-letter-spacing);
    word-spacing: var(--footnote-word-spacing);
    color: var(--footnote-color);
    line-height: var(--footnote-line-height);
    text-align: var(--footnote-align);
    text-indent: var(--footnote-indent);
    text-transform: var(--footnote-text-transform);
    counter-increment: footnote;
    footnote-style-position: outside;
  }

  .footnotes {
    .mathjax {
      padding-bottom: var(--footnote-mathjax-padding-bottom);
    }
  }

  // Footnote & Endnote number markers (in body text)

  .endnote::footnote-call,
  .footnote::footnote-call {
    font-size: var(--footnote-number-marker-font-size);
    line-height: var(--footnote-number-marker-line-height);
    vertical-align: top;
  }

  p {
    prince-footnote-policy: keep-with-line;
  }

  @page {
    @footnotes {
      margin-top: var(--footnote-block-margin-top);
      border-top: var(--footnote-block-border-top);
    }
  }
}

@mixin epub-footnotes {
  // Footnote & Endnote number markers (in body text)

  .endnote,
  .footnote {
    font-size: var(--footnote-number-marker-font-size);
    vertical-align: top;
  }

  .footnotes {
    font-size: var(--footnote-font-size);

    .mathjax {
      padding-bottom: var(--footnote-mathjax-padding-bottom);
    }
  }
}

@if $type == 'prince' {
  @include prince-footnotes;
} @else if $type == 'epub' {
  @include epub-footnotes;
}

// Our footnote function eats <p> & <blockquote> tags, so users should wrap new
// paragraphs & blockquotes in a span, as per below

.fn-p,
.fn_p // Deprecated; only included for backwards-compatibility.
{
  display: block;
  text-indent: var(--para-indent);
}

.fn-blockquote,
.fn_blockquote // Deprecated; only included for backwards-compatibility.
{
  display: block;
  margin-top: var(--footnote-blockquote-margin-top);
  margin-bottom: var(--footnote-blockquote-margin-bottom);
  margin-left: var(--footnote-blockquote-margin-left);
  font-size: var(--footnote-blockquote-font-size);
}

// Endnotes

.endnotes {
  margin-left: var(--endnote-margin-left);
  @if $type != 'epub' {
    line-height: var(--endnote-line-height);
  }

  h3 {
    padding-bottom: var(--endnote-header-padding-bottom);
    margin-bottom: var(--endnote-header-margin-bottom);
    margin-left: var(--endnote-header-margin-left);
  }

  hr {
    margin-top: var(--endnote-hr-margin-top);
    border: var(--endnote-hr-border);
  }

  ol {
    margin-top: var(--endnote-ol-margin-top);
    margin-left: var(--endnote-ol-margin-left);
    font-size: var(--endnote-ol-font-size);
    list-style-position: outside;
  }

  li {
    padding-left: var(--endnote-li-padding-left);
    margin-top: var(--endnote-li-margin-top);
    text-indent: var(--endnote-li-indent);
  }

  p + p {
    text-indent: 0;
  }
}
