////
/// @group specials
////

// ============================================================================//
//                                  Separators                                //
// ============================================================================//

// Page Breaks
.page-break-after,
.pdf-page-break-after {
  page-break-after: always;
}

.page-break-before,
.pdf-page-break-before {
  page-break-before: always;
}

.page-break-inside,
.pdf-page-break-inside {
  page-break-inside: auto;
}

// Separators
hr {
  width: var(--hr-width);
  margin: var(--hr-margin-top) auto var(--hr-margin-bottom);
  border-top: none;
  border-right: none;
  border-bottom: var(--hr-border-style) var(--hr-border-width);
  border-bottom-color: var(--hr-border-color);
  border-left: none;
  text-align: center;

  &.break-symbols {
    padding-top: var(--hr-break-symbols-padding-top);
    border: 0;
    border-top: var(--hr-break-symbols-border-top-width) var(--hr-break-symbols-border-top-style);
    border-top-color: var(--hr-break-symbols-border-top-color);
    margin-top: var(--hr-break-symbols-margin-top);
    margin-bottom: var(--hr-break-symbols-margin-bottom);

    &::after {
      display: block;
      font-size: var(--hr-break-symbols-font-size);
      text-align: center;
      content: var(--hr-break-symbols-content);
    }
  }
}

// Section Breaks
.section-break {
  margin-top: var(--section-break-margin-top);
  margin-bottom: var(--section-break-margin-bottom);
  text-align: center;
  text-indent: 0;
}

.section-break-space {
  margin-top: var(--section-break-space-margin-top);
  margin-bottom: var(--section-break-space-margin-bottom);
  @if $type != 'epub' {
    line-height: var(--section-break-space-line-height);
  }

  visibility: hidden;
}

.section-break-page {
  margin-top: var(--section-break-page-margin-top);
  margin-bottom: var(--section-break-page-margin-bottom);
  text-align: center;
  text-indent: 0;
  page-break-after: always;
}

.section-break-page-invisible {
  margin-top: var(--section-break-page-invisible-margin-top);
  margin-bottom: var(--section-break-page-invisible-margin-bottom);
  text-align: center;
  text-indent: 0;
  visibility: hidden;
  page-break-after: always;
}

@if $type == "web" {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    .section-break {
      text-align: center;
    }

    .section-break-page {
      text-align: center;
    }
  }
}

// Blank Pages
.blank-page {
  visibility: hidden;
  page-break-before: always;
}
