////
/// @group specials
////

// ============================================================================//
//                                   Textboxes                                //
// ============================================================================//

@import '../utilities';

// Legacy Educational Textboxes
@mixin educational-textbox($header-color: #fff, $header-background: #444, $color: #000, $background: #fff) {
  padding:
    var(--edu-textbox-padding-top)
    var(--edu-textbox-padding-right)
    var(--edu-textbox-padding-bottom)
    var(--edu-textbox-padding-left);
  margin-bottom: var(--edu-textbox-margin-bottom);
  margin-left: var(--edu-textbox-margin-left);
  margin-right: var(--edu-textbox-margin-right);
  border-radius: var(--edu-textbox-border-radius);
  border-style: var(--edu-textbox-border-style);
  border-width: var(--edu-textbox-border-width);
  color: $color;
  background: $background;

  h3 {
    padding:
      calc(var(--edu-textbox-padding-top) * (1 / #{$edu-header-font-size-multiplier}))
      calc(var(--edu-textbox-padding-right) * (1 / #{$edu-header-font-size-multiplier}))
      calc(var(--edu-textbox-padding-bottom) * (1 / #{$edu-header-font-size-multiplier}))
      calc(var(--edu-textbox-padding-left) * (1 / #{$edu-header-font-size-multiplier}));
    margin:
      calc(-1 * var(--edu-textbox-padding-top) * (1 / #{$edu-header-font-size-multiplier}))
      calc(-1 * var(--edu-textbox-padding-top) * (1 / #{$edu-header-font-size-multiplier}))
      calc(var(--edu-textbox-padding-top) * (1 / #{$edu-header-font-size-multiplier}))
      calc(-1 * var(--edu-textbox-padding-top) * (1 / #{$edu-header-font-size-multiplier}));
    border-top-right-radius: calc(var(--edu-textbox-border-radius) * (1 / #{$edu-header-font-size-multiplier}) - var(--edu-textbox-border-width));
    border-top-left-radius: calc(var(--edu-textbox-border-radius) * (1 / #{$edu-header-font-size-multiplier}) - var(--edu-textbox-border-width));
    font-size: calc(#{$edu-header-font-size-multiplier} * var(--textbox-font-size));
    font-style: var(--edu-header-font-style);
    font-weight: var(--edu-header-font-weight);
    color: $header-color;
    background: $header-background;
    text-align: var(--edu-header-text-align);
  }
}

// Legacy Educational Textboxes
@mixin edu-textbox($header-color: #fff, $header-background: #444, $color: #000, $background: #fff) {
  margin-bottom: var(--edu-textbox-margin-bottom);
  padding: 0;
  border-radius: var(--edu-textbox-border-radius);
  border-style: var(--edu-textbox-border-style);
  border-width: var(--edu-textbox-border-width);
  color: $color;
  background: $background;

  .textbox__header {
    background: $header-background;
    border-top-left-radius: var(--edu-textbox-border-radius);
    border-top-right-radius: var(--edu-textbox-border-radius);
    color: $header-color;
    font-size: var(--edu-header-font-size);
    font-style: var(--edu-header-font-style);
    font-weight: var(--edu-header-font-weight);
    margin: 0;
    padding:
      var(--edu-textbox-padding-top)
      var(--edu-textbox-padding-right)
      var(--edu-textbox-padding-bottom)
      var(--edu-textbox-padding-left);
    text-align: var(--edu-header-text-align);

    h1, h2, h3, h4, h5, h6 {
      color: $header-color;
    }

    p {
      text-indent: 0;
    }
  }

  .textbox__content {
    margin: 0;
    padding:
      var(--edu-textbox-padding-top)
      var(--edu-textbox-padding-right)
      var(--edu-textbox-padding-bottom)
      var(--edu-textbox-padding-left);
  }

  // &.textbox--sidebar {

  // }
}

.textbox, .bcc-box {
  padding: var(--textbox-padding-top) var(--textbox-padding-right) var(--textbox-padding-bottom) var(--textbox-padding-left);
  margin: var(--textbox-margin-top) var(--textbox-margin-right) var(--textbox-margin-bottom) var(--textbox-margin-left);
  font-family: var(--textbox-font-family);
  font-size: var(--textbox-font-size);
  font-style: var(--textbox-font-style);
  font-weight: var(--textbox-font-weight);
  word-spacing: var(--textbox-word-spacing);
  letter-spacing: var(--textbox-letter-spacing);
  @if $type != 'epub' {
    line-height: var(--textbox-line-height);
  }

  text-align: var(--textbox-text-align);
  text-indent: var(--textbox-text-indent);
  border-style: var(--textbox-border-style);
  border-width: var(--textbox-border-width);
  border-radius: var(--textbox-border-radius);

  ul {
    margin-top: var(--textbox-ul-margin-top);
    margin-bottom: var(--textbox-ul-margin-bottom);
  }

  ol {
    margin-top: var(--textbox-ol-margin-top);
    margin-bottom: var(--textbox-ol-margin-bottom);
  }

  li {
    margin-left: var(--textbox-li-margin-left);
  }

  p {
    margin-bottom: var(--textbox-para-margin-bottom);
    text-align: var(--textbox-text-align);
    text-indent: var(--textbox-text-indent);
  }

  * + p {
    margin-top: var(--textbox-para-margin-top);
    text-indent: var(--textbox-text-indent);
  }

  .textbox-caption {
    display: block;
    margin: 0;
    font-family: var(--textbox-caption-font-family);
    font-size: var(--textbox-caption-font-size);
    font-style: var(--textbox-caption-font-style);
    font-weight: var(--textbox-caption-font-weight);
  }

  &.learning-objectives {
    @include educational-textbox($learning-objectives-header-color, $learning-objectives-header-background, $learning-objectives-color, $learning-objectives-background);
  }

  &.textbox--learning-objectives {
    @include edu-textbox($learning-objectives-header-color, $learning-objectives-header-background, $learning-objectives-color, $learning-objectives-background);
  }

  &.key-takeaways {
    @include educational-textbox($key-takeaways-header-color, $key-takeaways-header-background, $key-takeaways-color, $key-takeaways-background);
  }

  &.textbox--key-takeaways {
    @include edu-textbox($key-takeaways-header-color, $key-takeaways-header-background, $key-takeaways-color, $key-takeaways-background);
  }

  &.exercises {
    @include educational-textbox($exercises-header-color, $exercises-header-background, $exercises-color, $exercises-background);
  }

  &.textbox--exercises {
    @include edu-textbox($exercises-header-color, $exercises-header-background, $exercises-color, $exercises-background);
  }

  &.examples {
    @include educational-textbox($examples-header-color, $examples-header-background, $examples-color, $examples-background);
  }

  &.textbox--examples {
    @include edu-textbox($examples-header-color, $examples-header-background, $examples-color, $examples-background);
  }
}

%learning-objectives {
  @include educational-textbox($learning-objectives-header-color, $learning-objectives-header-background, $learning-objectives-color, $learning-objectives-background);
}

%key-takeaways {
  @include educational-textbox($key-takeaways-header-color, $key-takeaways-header-background, $key-takeaways-color, $key-takeaways-background);
}

%exercises {
  @include educational-textbox($exercises-header-color, $exercises-header-background, $exercises-color, $exercises-background);
}

.bcc-highlight {
  @extend %learning-objectives;
}

.bcc-success {
  @extend %key-takeaways;
}

.bcc-info {
  @extend %exercises;
}

.textbox--sidebar {
  float: var(--textbox-sidebar-float);
  margin: var(--textbox-sidebar-margin-top) var(--textbox-sidebar-margin-right) var(--textbox-sidebar-margin-bottom) var(--textbox-sidebar-margin-left);
  @if $type == 'prince' {
    margin-inside: var(--textbox-sidebar-margin-inside);
  }

  max-width: var(--textbox-sidebar-max-width);
}

@if $type == 'epub' {
  @media amzn-mobi {
    div.textbox {
      margin: 5%;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    .ugc.chapter-ugc.textbox {
      padding-left: 10%;
      margin: 1.5em 5% 1.5em 10%;
      font-size: 0.9em;
      font-style: italic;
      border-top: 1px solid;
    }

    .ugc.chapter-ugc.textbox p.nonindent,
    .ugc.chapter-ugc.textbox p.indent {
      margin-right: 5%;
      margin-left: 10%;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}
