////
/// @group section-titles
////

@import '../utilities';

@if $type != 'web' {
  .back-matter-title-wrap {
    margin: var(--section-header-margin-top) var(--section-header-margin-right) var(--section-header-margin-bottom) var(--section-header-margin-left);

    .back-matter-number {
      display: none;
    }

    .back-matter-title {
      display: block;
      margin-top: var(--back-matter-title-margin-top);
      margin-bottom: 0;
      font-family: var(--back-matter-title-font-family);
      font-size: var(--back-matter-title-font-size);
      font-style: var(--back-matter-title-font-style);
      font-weight: var(--back-matter-title-font-weight);
      hyphens: none;
      @if $type == 'prince' {
        prince-bookmark-level: 1;
      }
      @if $type != 'epub' {
        line-height: var(--back-matter-title-line-height);
      }

      text-align: var(--back-matter-title-align);
      text-transform: var(--back-matter-title-text-transform);
      border-bottom: var(--back-matter-title-border-bottom-width) var(--back-matter-title-border-bottom-style);
      border-bottom-color: var(--back-matter-title-border-bottom-color);
      padding-bottom: var(--back-matter-title-padding-bottom);
      letter-spacing: var(--back-matter-title-letter-spacing);
      word-spacing: var(--back-matter-title-word-spacing);

      @if  $back-matter-title-decoration-content != "" or $back-matter-title-decoration-display != none {
        &::after {
          font-family: var(--back-matter-title-decoration-font-family);
          content: var(--back-matter-title-decoration-content);
          display: var(--back-matter-title-decoration-display);
          white-space: pre;
          font-size: var(--back-matter-title-decoration-font-size);
          font-weight: var(--back-matter-title-decoration-font-weight);
          margin-bottom: var(--back-matter-title-decoration-margin-bottom);
          margin-top: var(--back-matter-title-decoration-margin-top);
          color: var(--back-matter-title-decoration-color);
        }
      }
    }

    .chapter-subtitle {
      display: block;
      margin-bottom: 0;
      font-family: var(--section-subtitle-font-family);
      font-size: var(--section-subtitle-font-size);
      font-style: var(--section-subtitle-font-style);
      font-weight: var(--section-subtitle-font-weight);
      hyphens: none;
      text-align: var(--section-subtitle-align);
      text-transform: var(--section-subtitle-text-transform);
      @if $type != 'epub' {
        column-span: all;
      }

      letter-spacing: var(--section-subtitle-letter-spacing);
      word-spacing: var(--section-subtitle-word-spacing);
    }

    .chapter-author {
      display: block;
      margin-bottom: var(--section-author-margin-bottom);
      font-family: var(--section-author-font-family);
      font-size: var(--section-author-font-size);
      font-style: var(--section-author-font-style);
      font-weight: var(--section-author-font-weight);
      hyphens: none;
      text-align: var(--section-author-align);
      text-indent: var(--section-author-text-indent);
      text-transform: var(--section-author-text-transform);
      letter-spacing: var(--section-author-letter-spacing);
      word-spacing: var(--section-author-word-spacing);
    }

    .back-matter-title + .chapter-subtitle,
    .short-title + .chapter-subtitle {
      margin-top: var(--section-title-subtitle-spacing);
    }

    .back-matter-title + .chapter-author,
    .short-title + .chapter-author {
      margin-top: var(--section-title-author-spacing);
    }

    .chapter-subtitle + .chapter-author {
      margin-top: var(--section-subtitle-author-spacing);
    }

    .back-matter-title:last-child {
      margin-bottom: var(--back-matter-title-margin-bottom);
    }

    .chapter-subtitle:last-child {
      margin-bottom: var(--section-subtitle-margin-bottom);
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .back-matter-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
