////
/// @group section-titles
////

@import '../utilities';

@if $type != 'web' {
  .chapter-title-wrap {
    margin: var(--section-header-margin-top) var(--section-header-margin-right) var(--section-header-margin-bottom) var(--section-header-margin-left);

    .chapter-title {
      border-bottom: var(--chapter-title-border-bottom-width) var(--chapter-title-border-bottom-style);
      border-bottom-color: var(--chapter-title-border-bottom-color);
      padding-bottom: var(--chapter-title-padding-bottom);
      display: var(--chapter-title-display);
      margin: var(--chapter-title-margin-top) var(--chapter-title-margin-right) 0 var(--chapter-title-margin-left);
      font-family: var(--chapter-title-font-family);
      font-size: var(--section-title-font-size);
      font-style: var(--chapter-title-font-style);
      font-weight: var(--chapter-title-font-weight);
      hyphens: none;
      @if $type != 'epub' {
        line-height: var(--chapter-title-line-height);
      }

      text-align: var(--chapter-title-align);
      text-transform: var(--chapter-title-text-transform);
      letter-spacing: var(--chapter-title-letter-spacing);
      word-spacing: var(--chapter-title-word-spacing);

      @if  $chapter-title-decoration-content != "" or $chapter-title-decoration-display != none {
        &::after {
          font-family: var(--chapter-title-decoration-font-family);
          content: var(--chapter-title-decoration-content);
          display: var(--chapter-title-decoration-display);
          white-space: pre;
          font-size: var(--chapter-title-decoration-font-size);
          font-weight: var(--chapter-title-decoration-font-weight);
          margin-bottom: var(--chapter-title-decoration-margin-bottom);
          margin-top: var(--chapter-title-decoration-margin-top);
          color: var(--chapter-title-decoration-color);
        }
      }
    }

    .chapter-number {
      border-bottom: var(--chapter-number-border-bottom-width) var(--chapter-number-border-bottom-style);
      border-bottom-color: var(--chapter-number-border-bottom-color);
      display: var(--chapter-number-display);
      margin: var(--chapter-number-margin-top) var(--chapter-number-margin-right) var(--chapter-number-margin-bottom) var(--chapter-number-margin-left);
      padding-bottom: var(--chapter-number-padding-bottom);
      font-family: var(--chapter-number-font-family);
      font-size: var(--chapter-number-font-size);
      font-style: var(--chapter-number-font-style);
      font-weight: var(--chapter-number-font-weight);
      @if $type != 'epub' {
        line-height: var(--chapter-number-line-height);
      }

      text-align: var(--chapter-number-align);
      text-transform: var(--chapter-number-text-transform);
      letter-spacing: var(--chapter-number-letter-spacing);
      word-spacing: var(--chapter-number-word-spacing);

      &::before {
        content: var(--chapter-number-before-content);
        text-transform: var(--chapter-number-before-content-text-transform);
      }

      &::after {
        content: var(--chapter-number-after-content);
      }
    }

    .numberless & {
      .chapter-number {
        @if $type != 'epub' {
          display: none;
        }

        &::after {
          content: '';
        }

        &::before {
          content: '';
        }
      }
    }

    .chapter-subtitle {
      display: block;
      margin-bottom: 0;
      font-family: var(--section-subtitle-font-family);
      font-size: var(--section-subtitle-font-size);
      font-style: var(--section-subtitle-font-style);
      font-weight: var(--section-subtitle-font-weight);
      hyphens: none;
      text-align: var(--section-subtitle-align);
      text-transform: var(--section-subtitle-text-transform);
      @if $type != 'epub' {
        column-span: all;
      }

      letter-spacing: var(--section-subtitle-letter-spacing);
      word-spacing: var(--section-subtitle-word-spacing);
    }

    .chapter-author {
      display: block;
      margin-bottom: var(--section-author-margin-bottom);
      font-family: var(--section-author-font-family);
      font-size: var(--section-author-font-size);
      font-style: var(--section-author-font-style);
      font-weight: var(--section-author-font-weight);
      hyphens: none;
      text-align: var(--section-author-align);
      text-indent: var(--section-author-text-indent);
      text-transform: var(--section-author-text-transform);
      letter-spacing: var(--section-author-letter-spacing);
      word-spacing: var(--section-author-word-spacing);
    }

    .chapter-title + .chapter-subtitle,
    .short-title + .chapter-subtitle {
      margin-top: var(--section-title-subtitle-spacing);
    }

    .chapter-title + .chapter-author,
    .short-title + .chapter-author {
      margin-top: var(--section-title-author-spacing);
    }

    .chapter-subtitle + .chapter-author {
      margin-top: var(--section-subtitle-author-spacing);
    }

    .chapter-title:last-child {
      margin-bottom: var(--section-title-margin-bottom);
    }

    .chapter-subtitle:last-child {
      margin-bottom: var(--section-subtitle-margin-bottom);
    }
  }

  @if $type == 'prince' {
    div.part ~ .chapter .chapter-title {
      prince-bookmark-level: 2;
    }
  }
}

.aphorism,
blockquote.aphorism {
  width: var(--aphorism-block-width);
  margin: var(--aphorism-margin-top) var(--aphorism-margin-right) var(--aphorism-margin-bottom) var(--aphorism-margin-left);
  padding-bottom: var(--aphorism-padding-bottom);
  font-family: var(--aphorism-font-family);
  font-size: var(--aphorism-font-size);
  font-style: var(--aphorism-font-style);
  font-weight: var(--aphorism-font-weight);
  @if $type != 'epub' {
    line-height: var(--aphorism-line-height);
  }

  text-align: var(--aphorism-align);
  text-indent: var(--aphorism-indent);

  cite {
    display: block;
    margin-right: var(--aphorism-cite-margin-right);
    margin-left: var(--aphorism-cite-margin-left);
    font-size: var(--aphorism-cite-font-size);
    font-style: var(--aphorism-cite-font-style);
    font-variant: var(--aphorism-cite-font-variant);
    font-weight: var(--aphorism-cite-font-weight);
    text-transform: var(--aphorism-cite-text-transform);
    text-align: var(--aphorism-cite-align);

    &::before {
      content: var(--aphorism-cite-before-content);
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    div.chapter-title-wrap {
      margin-top: 0;
      margin-bottom: 0;
    }

    .chapter-number {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.2em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    .chapter-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.5em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    .chapter-subtitle {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    .chapter-author {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.8em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }

  @media amzn-kf8 {
    .chapter-title-wrap .chapter-title::before {
      content: '';
    }

    .chapter-title-wrap .chapter-title::after {
      content: '';
    }
  }
}
