////
/// @group section-titles
////

@import '../utilities';

@if $type != 'web' {
  .front-matter-title-wrap {
    margin: var(--section-header-margin-top) var(--section-header-margin-right) var(--section-header-margin-bottom) var(--section-header-margin-left);

    .front-matter-number {
      display: none;
    }

    .front-matter-title {
      display: block;
      margin-top: var(--front-matter-title-margin-top);
      margin-bottom: 0;
      padding-bottom: var(--front-matter-title-padding-bottom);
      font-family: var(--front-matter-title-font-family);
      font-size: var(--front-matter-title-font-size);
      font-style: var(--front-matter-title-font-style);
      font-weight: var(--front-matter-title-font-weight);
      border-bottom: var(--front-matter-title-border-bottom-style) var(--front-matter-title-border-bottom-width);
      border-bottom-color: var(--front-matter-title-border-bottom-color);
      letter-spacing: var(--front-matter-title-letter-spacing);
      word-spacing: var(--front-matter-title-word-spacing);
      hyphens: none;
      @if $type == 'prince' {
        prince-bookmark-level: 1;
      }
      @if $type != 'epub' {
        line-height: var(--front-matter-title-line-height);
      }

      text-align: var(--front-matter-title-align);
      text-transform: var(--front-matter-title-text-transform);

      @if  $front-matter-title-decoration-content != "" or $front-matter-title-decoration-display != none {
        &::after {
          font-family: var(--front-matter-title-decoration-font-family);
          content: var(--front-matter-title-decoration-content);
          display: var(--front-matter-title-decoration-display);
          white-space: pre;
          font-size: var(--front-matter-title-decoration-font-size);
          font-weight: var(--front-matter-title-decoration-font-weight);
          margin-bottom: var(--front-matter-title-decoration-margin-bottom);
          margin-top: var(--front-matter-title-decoration-margin-top);
          color: var(--front-matter-title-decoration-color);
        }
      }
    }

    .chapter-subtitle {
      display: block;
      margin-bottom: 0;
      font-family: var(--section-subtitle-font-family);
      font-size: var(--section-subtitle-font-size);
      font-style: var(--section-subtitle-font-style);
      font-weight: var(--section-subtitle-font-weight);
      hyphens: none;
      text-align: var(--section-subtitle-align);
      text-transform: var(--section-subtitle-text-transform);
      @if $type != 'epub' {
        column-span: all;
      }

      letter-spacing: var(--section-subtitle-letter-spacing);
      word-spacing: var(--section-subtitle-word-spacing);
    }

    .chapter-author {
      display: block;
      margin-bottom: var(--section-author-margin-bottom);
      font-family: var(--section-author-font-family);
      font-size: var(--section-author-font-size);
      font-style: var(--section-author-font-style);
      font-weight: var(--section-author-font-weight);
      hyphens: none;
      text-align: var(--section-author-align);
      text-indent: var(--section-author-text-indent);
      text-transform: var(--section-author-text-transform);
      letter-spacing: var(--section-author-letter-spacing);
      word-spacing: var(--section-author-word-spacing);
    }

    .front-matter-title + .chapter-subtitle,
    .short-title + .chapter-subtitle {
      margin-top: var(--section-title-subtitle-spacing);
    }

    .front-matter-title + .chapter-author,
    .short-title + .chapter-author {
      margin-top: var(--section-title-author-spacing);
    }

    .chapter-subtitle + .chapter-author {
      margin-top: var(--section-subtitle-author-spacing);
    }

    .front-matter-title:last-child {
      margin-bottom: var(--front-matter-title-margin-bottom);
    }

    .chapter-subtitle:last-child {
      margin-bottom: var(--section-subtitle-margin-bottom);
    }
  }

  #toc h1 {
    display: block;
    margin: var(--toc-title-margin-top) var(--toc-title-margin-right) var(--toc-title-margin-bottom) var(--toc-title-margin-left);
    border-bottom: var(--toc-title-border-bottom-style) var(--toc-title-border-bottom-width);
    border-bottom-color: var(--toc-title-border-bottom-color);
    padding-bottom: var(--toc-title-padding-bottom);
    font-family: var(--toc-title-font-family);
    font-size: var(--toc-title-font-size);
    font-style: var(--toc-title-font-style);
    font-weight: var(--toc-title-font-weight);
    color: var(--toc-title-color);
    hyphens: none;
    @if $type != 'epub' {
      line-height: var(--toc-title-line-height);
    }

    text-align: var(--toc-title-align);
    text-transform: var(--toc-title-text-transform);
    letter-spacing: var(--toc-title-letter-spacing);
    word-spacing: var(--toc-title-word-spacing);

    @if  $toc-title-decoration-content != "" or $toc-title-decoration-display != none {
      &::after {
        font-family: var(--toc-title-decoration-font-family);
        content: var(--toc-title-decoration-content);
        display: var(--toc-title-decoration-display);
        white-space: pre;
        font-size: var(--toc-title-decoration-font-size);
        font-weight: var(--toc-title-decoration-font-weight);
        margin-bottom: var(--toc-title-decoration-margin-bottom);
        margin-top: var(--toc-title-decoration-margin-top);
      }
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .front-matter-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
