////
/// @group section-titles
////

@import '../utilities';

@if $type == 'web' {
  section.front-matter,
  section.back-matter,
  section.part,
  section.chapter {
    header {
      margin: var(--section-header-margin-top) var(--section-header-margin-right) var(--section-header-margin-bottom) var(--section-header-margin-left);
    }
  }

  section.part {
    header {
      h1 {
        display: var(--part-title-display);
        margin: var(--part-title-margin-top) var(--part-title-margin-right) var(--part-title-margin-bottom) var(--part-title-margin-left);
        font-family: var(--part-title-font-family);
        font-size: var(--part-title-font-size);
        font-style: var(--part-title-font-style);
        font-weight: var(--part-title-font-weight);
        hyphens: none;
        line-height: var(--part-title-line-height);
        text-align: var(--part-title-align);
        text-transform: var(--part-title-text-transform);

        span.number {
          border-bottom: var(--part-number-border-bottom-style) var(--part-number-border-bottom-width) var(--part-number-border-bottom-color);
          display: var(--part-number-display);
          margin: var(--part-number-margin-top) var(--part-number-margin-right) var(--part-number-margin-bottom) var(--part-number-margin-left);
          padding-bottom: var(--part-number-padding-bottom);
          font-family: var(--part-number-font-family);
          font-size: var(--part-number-font-size);
          font-style: var(--part-number-font-style);
          font-weight: var(--part-number-font-weight);
          line-height: var(--part-number-line-height);
          text-align: var(--part-number-align);
          text-transform: var(--part-number-text-transform);

          &::before {
            content: var(--part-number-before-content);
            text-transform: var(--part-number-before-content-text-transform);
          }

          &::after {
            content: var(--part-number-after-content);
          }
        }
      }
    }
  }

  section.front-matter,
  section.back-matter,
  section.chapter {
    header {
      [data-type='subtitle'] {
        display: block;
        margin-bottom: 0;
        font-family: var(--section-subtitle-font-family);
        font-size: var(--section-subtitle-font-size);
        font-style: var(--section-subtitle-font-style);
        font-weight: var(--section-subtitle-font-weight);
        hyphens: none;
        text-align: var(--section-subtitle-align);
        text-transform: var(--section-subtitle-text-transform);
        letter-spacing: var(--section-subtitle-letter-spacing);
        word-spacing: var(--section-subtitle-word-spacing);
        column-span: all;
      }

      [data-type='author'] {
        display: block;
        margin-bottom: var(--section-author-margin-bottom);
        font-family: var(--section-author-font-family);
        font-size: var(--section-author-font-size);
        font-style: var(--section-author-font-style);
        font-weight: var(--section-author-font-weight);
        hyphens: none;
        text-align: var(--section-author-align);
        text-indent: var(--section-author-text-indent);
        text-transform: var(--section-author-text-transform);
        letter-spacing: var(--section-author-letter-spacing);
        word-spacing: var(--section-author-word-spacing);
      }

      h1 + [data-type='subtitle'] {
        margin-top: var(--section-title-subtitle-spacing);
      }

      h1 + [data-type='author'] {
        margin-top: var(--section-title-author-spacing);
      }

      [data-type='subtitle'] + [data-type='author']  {
        margin-top: var(--section-subtitle-author-spacing);
      }

      h1:last-child {
        margin-bottom: var(--section-title-margin-bottom);
      }

      [data-type='subtitle']:last-child {
        margin-bottom: var(--section-subtitle-margin-bottom);
      }
    }
  }

  section.chapter {
    header {
      h1 {
        display: var(--chapter-title-display);
        margin: var(--chapter-title-margin-top) var(--chapter-title-margin-right) 0 var(--chapter-title-margin-left);
        font-family: var(--chapter-title-font-family);
        font-size: var(--chapter-title-font-size);
        font-style: var(--chapter-title-font-style);
        font-weight: var(--chapter-title-font-weight);
        hyphens: none;
        line-height: var(--chapter-title-line-height);
        text-align: var(--chapter-title-align);
        text-transform: var(--chapter-title-text-transform);

        span.number {
          border-bottom: var(--chapter-number-border-bottom-style) var(--chapter-number-border-bottom-width) var(--chapter-number-border-bottom-color);
          display: var(--chapter-number-display);
          margin: var(--chapter-number-margin-top) var(--chapter-number-margin-right) var(--chapter-number-margin-bottom) var(--chapter-number-margin-left);
          padding-bottom: var(--chapter-number-padding-bottom);
          font-family: var(--chapter-number-font-family);
          font-size: var(--chapter-number-font-size);
          font-style: var(--chapter-number-font-style);
          font-weight: var(--chapter-number-font-weight);
          line-height: var(--chapter-number-line-height);
          text-align: var(--chapter-number-align);
          text-transform: var(--chapter-number-text-transform);

          &::before {
            content: var(--chapter-number-before-content);
            text-transform: var(--chapter-number-before-content-text-transform);
          }

          &::after {
            content: var(--chapter-number-after-content);
          }
        }
      }

      .numberless & {
        h1 span.number {
          display: none;
          content: '';
        }
      }
    }
  }

  section.front-matter {
    header {
      h1 {
        display: var(--front-matter-title-display);
        margin: var(--front-matter-title-margin-top) var(--front-matter-title-margin-right) 0 var(--front-matter-title-margin-left);
        font-family: var(--front-matter-title-font-family);
        font-size: var(--front-matter-title-font-size);
        font-style: var(--front-matter-title-font-style);
        font-weight: var(--front-matter-title-font-weight);
        hyphens: none;
        line-height: var(--front-matter-title-line-height);
        text-align: var(--front-matter-title-align);
        text-transform: var(--front-matter-title-text-transform);
      }
    }
  }

  section.back-matter {
    header {
      h1 {
        display: var(--back-matter-title-display);
        margin: var(--back-matter-title-margin-top) var(--back-matter-title-margin-right) 0 var(--back-matter-title-margin-left);
        font-family: var(--back-matter-title-font-family);
        font-size: var(--back-matter-title-font-size);
        font-style: var(--back-matter-title-font-style);
        font-weight: var(--back-matter-title-font-weight);
        hyphens: none;
        line-height: var(--back-matter-title-line-height);
        text-align: var(--back-matter-title-align);
        text-transform: var(--back-matter-title-text-transform);
      }
    }
  }
}
