////
/// @group section-titles
////

@import '../utilities';

// --- PARTS --- //

@if $type != 'web' {
  .part-title-wrap {
    margin: var(--section-header-margin-top) var(--section-header-margin-right) var(--section-header-margin-bottom) var(--section-header-margin-left);

    .part-number {
      border-bottom: var(--part-number-border-bottom-style) var(--part-number-border-bottom-width);
      border-bottom-color: var(--part-number-border-bottom-color);
      display: var(--part-number-display);
      margin: var(--part-number-margin-top) var(--part-number-margin-right) var(--part-number-margin-bottom) var(--part-number-margin-left);
      padding-bottom: var(--part-number-padding-bottom);
      font-family: var(--part-number-font-family);
      font-size: var(--part-number-font-size);
      font-style: var(--part-number-font-style);
      font-weight: var(--part-number-font-weight);
      letter-spacing: var(--part-number-letter-spacing);
      word-spacing: var(--part-number-word-spacing);
      text-align: var(--part-number-align);
      text-transform: var(--part-number-text-transform);
      page-break-after: avoid;

      &::before {
        text-transform: var(--part-number-before-content-text-transform);
        content: var(--part-number-before-content);
      }

      &::after {
        content: var(--part-number-after-content);
      }
    }

    .part-title {
      margin: var(--part-title-margin-top) var(--part-title-margin-right) var(--part-title-margin-bottom) var(--part-title-margin-left);
      font-family: var(--part-title-font-family);
      font-size: var(--part-title-font-size);
      font-style: var(--part-title-font-style);
      font-weight: var(--part-title-font-weight);
      hyphens: none;
      @if $type != 'epub' {
        line-height: var(--part-title-line-height);
      }

      text-align: var(--part-title-align);
      text-transform: var(--part-title-text-transform);
      page-break-after: avoid;
      letter-spacing: var(--part-title-letter-spacing);
      word-spacing: var(--part-title-word-spacing);
      border-bottom: var(--part-title-border-bottom-width) var(--part-title-border-bottom-style);
      border-bottom-color: var(--part-title-border-bottom-color);

      @if  $part-title-decoration-content != "" or $part-title-decoration-display != none {
        &::after {
          font-family: var(--part-title-decoration-font-family);
          content: var(--part-title-decoration-content);
          display: var(--part-title-decoration-display);
          white-space: pre;
          font-size: var(--part-title-decoration-font-size);
          font-weight: var(--part-title-decoration-font-weight);
          margin-bottom: var(--part-title-decoration-margin-bottom);
          margin-top: var(--part-title-decoration-margin-top);
          color: var(--part-title-decoration-color);
        }
      }
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .part-number {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    .part-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
